$color-navy: #364457;
$color-light-blue: #13b3cd;
$color-light-blue-lighter: #0cdaec;
$color-red: #e9444e;

$color-light-gray: #f4f4f4;
$color-gray: #ebebeb;
$color-gray2: #dcdcdc;
$color-white: #fff;

$container-width: 960px;

$spacer: 3.5rem;


@import "temps";

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%; // definition of 1rem (62.5% of 16px = 10px)
}

body {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    // line-height: 4rem;
    color: $color-navy;
    background-color: $color-white;
}

a{
    color: $color-navy;
}
a:hover {
    text-decoration: none;
}

.no-padding{
    padding: 0;
}

.header {

    margin-bottom: ($spacer /2);

    &__filters{
        min-height: 4.5rem;
        background-color: $color-navy;
        color: $color-white;
        

        img{
            max-width: 100%;
        }

    }

    &__banner {
        min-height: 8rem;
        background: #469ADD url('/images/temp/sub-header-banner.png') top center no-repeat;
    }
}

.huge {
    font-size: 3.6rem;
    font-weight: 700;
}

.subH1 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3rem;

    a {

        font-weight: 400;
    }
}
.tiny {
    font-size: 1.6rem;
    font-weight: 300;
}
.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}
.bold {
    font-weight: 700;
}

.margin-top-big, .hotel-row.margin-top-big {
    margin-top: 4rem;

}

.spacer {
    height: $spacer;
}
.no {
    // nothing
}


.container {
    max-width: 960px;
}


.package-row {

    background-color: $color-light-gray;
    padding: 0.7rem;
    margin-bottom: $spacer;
    width: 100%;
    display: flex;

    &__above{
        margin-bottom:0;

        h3{
            display: inline-block;
            font-weight: 700;
            font-size: 2rem;
            margin: 0;
        }

        h5{
            background-color: $color-light-blue;
            color: $color-white;
            font-weight: 700;
            font-size: 1.4rem;
            display: inline-block;
            padding: 4px 7px;
            margin: 0;
        }
    }
    &__banner{

        position: relative; 
        overflow: hidden;
        min-height: 15rem;
        margin-bottom: .7rem;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__items{ 
        display: flex;
        justify-content: space-between;
    }

    &__item{
        display: inline-block;
        background: $color-white;
        width: 100%;
        min-height: 5.5rem;
        position: relative;
        overflow: hidden;

        img {
            max-width: 100%;
        }

        &:not(:last-child){
            margin-right: .7rem;
        }
    }

    @include clearfix;
    
}

.price-box{
    text-align: center; 
    position: relative;
    margin-left: 7px;
    padding: 25px 10px 10px 10px;
    height: 100%;
    background-color: $color-white;
        
    .price__big {
        font-size: 3.2rem;
        font-weight: 700;
        position: relative;

        &.reduced-a-bit {
            font-size: 2.8rem;
        }
        &.reduced{
            font-size: 2.4rem;
        }

        .starting-from {
            position: absolute; 
            font-weight: 300;
            right: 0;
            top: -5px;
            font-size: 10px;
        }
        
        .price-note {
            font-size: 1.4rem;
            letter-spacing: 0;
            font-weight: 300;
        }
    }

    &__above-price {
        display: block;
        
        img {
            width: 60%;
            height: auto;
             
        }
    }
    
    &__under-price {
        display: block;
        font-size: 1.2rem;
        letter-spacing: 0;
        margin-bottom: 25px;
    }

    &__cta {
        padding-top: 5px;
    }

    &__btn {
        background-color: $color-red;
        color: $color-white;
        font-size: 1.8rem;
        
        &:hover{
            background-color: rgba($color-red, 0.8);
            color: $color-white
        }
    }

    &__link {
        color: $color-navy;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 400;
        display: inline-block;
        padding-top: .5rem;
        text-decoration: none;
    }

    &__notes {
        margin-top: 2rem;
        font-size: 1rem;
        
        p {
            font-weight: 300;
            text-align: center;
        }
    }
}

.build-custom-package {

    background-color: $color-light-blue;
    padding: 20px;
    margin-bottom: 50px;

    h2 {
        margin: 0; 
        padding: 0; 
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        color: $color-white;

    }

    .col-xs-3 {
        text-align: right;
    }

    a{
        display: inline-block;
        padding: 5px 20px;
        color: $color-white;
        background-color: $color-red;

        font-size: 1.8rem;
        font-weight: 700;
    }

    @include clearfix();
}

.hotel-row{
    margin-bottom: 0;
    margin-top: 0;
    

    &--left{
        background-color: $color-white;
        display: flex;
    }

    &__image{
        float: left;
        max-width: 45%;
        position: relative;

        img {
            width:100%;
            height: auto;
        }

        &--activity {
            

            img {
                max-width: 30rem;
                width: auto;
            }
        }

        &--trigger {
            width: 6rem;
            height: 6rem;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.1;
            cursor: pointer;
        }
        
    }

    &__summary{
        padding: 15px;
        float: left;
    }

    &__title {
        margin-top: 0;
        font-weight: 700;
        font-size: 2.8rem;
    }
    &__room-info {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 115%;

        &--tiny {
            font-size: 1.2rem;
            line-height: 110%;
        }
    }
    &__link { 
        margin-top: 20px;
        cursor: pointer; 

        a {
            color: $color-navy;
            font-weight: 700;
        }
    }

    &__below {
        background-color: $color-navy;
        color: $color-white;

        padding: 7px 10px;
        font-size: 16px;
        font-weight: 300;

        .fa-exclamation-circle {
            margin-right: 7px;
        }

        .btn {
            background-color: $color-red;
            color: $color-white;
            padding: 0px 4px;
            margin-left: 15px;
            font-weight: 700;
        }

        
    }
}

.product-hotel-row-wrapper .hotel-row__image{
    width: 77%;
    max-width: 80%;
}

.hotel-details {
    font-size: 22px;
    font-weight: 300; 
    position: relative;

    &__description, &__rooms {
        background-color: $color-light-gray;
        padding: 20px;
        margin-top: 7px;

        h3 {
            font-weight: 700;
            font-size: 3rem;
        }
    }

    &__save-btn {
        text-align: right;
        padding-right: 10px;

        button, button:hover {
            background-color: $color-red;
            color: $color-white;
        }
    }

    .close-btn {
        position: absolute;
        right: 25px;
        top: 0;
        font-size: 5.5rem;
        font-weight: 400;
        color: $color-red; 
        cursor: pointer;
    }

}

.room-row{
    width: 98%;
    margin: 15px auto;
    background-color: $color-white;
    padding: 10px 20px;
    font-size: 1.6rem;

    .left {
        float: left;
        text-align: left;
    }

    .right {
        text-align: right;
        float: right; 
    }

    @include clearfix();
}
.room-type{
    display: inline-block;
    padding-right: 15px;

    span {
        font-weight: 700;
        line-height: 3rem;
    }
}

.room-capacity{
    display: inline-block;
    padding-right: 15px;
    line-height: 3rem;
}

.room-details {
    display: inline-block;
    line-height: 3rem;

    ul {

        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;
            padding: 0 7px;
            margin-left: 0; 
            border-left: 1px solid rgba($color-navy, .5);
        }
    }
}
.extra-cost-label{
    font-size: 2rem;
    padding-right: 15px;
}

.incrementer {
    display: inline-block;

    &__control {
        display: inline-block;

        button {
            padding:0; 
            background-color: $color-red;
            color: $color-white;
            font-weight: 800; 
            line-height: 3rem;
            font-size: 1.8rem;
            width: 3rem;
            border: 1px solid $color-red;
            border-radius: 5px;
            text-align: center;
        }
    }

    &__value {
        display: inline-block;

        margin-top: -2px;

        input {
            text-align: center;
            width: 5rem;
            line-height: 3rem;
            margin: 0 5px;
            padding: 0;
            border: 1px solid rgba($color-navy, .5);
            border-radius: 5px;
        }
    }

    &--days {
        .incrementer__control{ 
            button {
                font-weight: 600;
                line-height: 1.5rem;
                font-size: 1.5rem;
                width: 1.5rem;
                border-radius: 2px;
                outline:none;
            }
        }
        .incrementer__value {

            span {
                font-size: 1.4rem;
                font-weight: 700;
                padding: 0 .5rem;
            }
        }
    }
}






.footer {

    margin-top: 100px;
    padding-bottom: 20px;

    img {
        max-width: 100%;
    }

    &__social {
        background-color: $color-gray;
        margin-bottom: 66px;
    }

}

.item-top-bar {

    margin-top: 40px;

    background-color: $color-navy;
    color: $color-white;

    padding: 4px 14px;
    font-size: 1.6rem;
    font-weight: 300;

    .left{ 
        float: left;
        font-weight: 600;
    }

    .right {
        float: right;
        text-align: right; 
        padding-right: 14px;

        a{
            font-size: 1.6rem;
            color: $color-white;
        }

        i {
            font-size: 1.2rem;
            // background-color: $color-light-blue;
            // border-radius: 25px;
            // padding: 4px;
            margin-right: .3rem;
        }
    }

    @include clearfix();
}

.steps-container{
    float: left;
    @include clearfix();
}

.step {
    float:left;
    margin-right: 2rem;

    &__number {
        float:left; 
        color: $color-white;
        background-color: $color-gray2;
        font-weight: 700;
        font-size: 1.6rem;
        
        width: 3rem;
        line-height: 3rem;
        text-align: center;

        border-radius: 10rem;
        margin-right: 1rem;
    }

    &__label {
        float: left;
        color: $color-gray2;

        h5 {
            font-weight: 600;
            font-size: 1.6rem;
            padding:0;
            margin:0;
        }

        p {
            font-size: 1.2rem;
            padding:0;
            margin:0;
            letter-spacing: 0;
            font-weight: 300;
        }
    }


    &--completed {

        .step__number{
            background-color: $color-navy;
            color: $color-white;
        }

    }

    &--selected {
        .step__number{
            background-color: $color-light-blue;
        }
    }

    &--completed, &--selected {
        .step__label {
            color: $color-navy;
        }
    }

    @include clearfix();
}


.modal-container { 
    width: 100%;
    height: 100%; 
    background: rgba($color-navy, .5);
    z-index: 100;

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
    }
}

.total-price {
    float: right;
    text-align: right; 
    font-size: 2.4rem;
    line-height: 3rem;

    margin-top: -2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    padding-right: 2.5rem;

    color: $color-navy;
    background-color: $color-gray;

    &__details {
        font-size: 1.8rem;
        font-weight: 600;
        color: $color-red;
        position: relative;
        padding-right: 2rem;
        padding-left: 2.5rem;

        

        cursor: pointer;

        i{
            position: absolute;
            top: .8rem; 
            right: .7rem;
        }
    }

    &__label {
        margin-left: 1.5rem;
        margin-right: 1rem;
        font-weight: 600;
        font-size: 2rem;
    }

    &__value {
        line-height: 3rem;
        font-weight: 700;
        // background-color: $color-gray;
        padding: .5rem 0;

        &--text {
            // margin-right: 4rem;
        }

        
    }

}


i.arrow {
    border: solid red;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;

    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    
    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    
    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.triangle-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #f00;
}
.triangle-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f00;
}


.steps-price-container{
    padding-top: ($spacer / 2);
    padding-bottom: 0;
    background-color: $color-white;
    // z-index: 1102;
    @include clearfix();
}

.summary-cta {
    text-align: right;

    .price-box__btn{
        font-size: 2.4rem;
        float: right;
        margin-left: 2rem;
    }
    .summary-info {
        line-height: 4.6rem;
    
        span.huge {
            margin-left: 2rem;
        }
    }


    p {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}

.scroll-to-top i{
    font-size: 4rem;
    padding: 0 .5rem;
    border: 1px solid $color-light-gray;
    border-radius: .5rem;
    background-color: $color-white;
}

.package-row.row--selected {
    background-color: $color-navy;
}


.price-digest {
    background-color: $color-gray;
    padding: 1rem 0;
    margin-top: 0;

    border-top: 1px solid $color-gray2;
    box-shadow: 0 6px 4px -4px rgba( 70, 70, 70, .6);
    // div[class*="col-"]{
    //     padding: 0;
    // }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        margin-bottom: 1rem;

        .item-name {
            float: left; 
            background-color: $color-navy;
            color: $color-white;
            padding: 1.5rem 1rem;
            
            font-size: 2.2rem;
            font-weight: 700;
            position: relative;

            div > span {
                display: block;
                font-weight: 400; 
                font-size: 2rem;     
            }

            width: 25%;
            min-width: 20rem;
        }

        .item-details {
            float: left; 
            
            &.col-xs-9 {
                padding-left: 0;
                padding-right: 0;
            }

            &__row:not(:last-child) {
                margin-bottom: 2px;
            }

            &__row {
                display: flex;
                flex-direction: row;
                align-items: stretch;

                &--left, &--actions {
                    float: left;
                    padding: 1rem 2rem;

                    background-color: $color-white;
                    color: $color-navy;
                    font-weight: 300;
                    font-size: 1.6rem;
                }

                // &--icons {
                //     float: right;
                // }

                &--left {
                    span {
                        display: inline-block;
                        
                    }

                    .arrow.col-xs-1 {
                        padding: 0; 
                        line-height: 1.4rem;
                        font-size: 4rem;
                        color: $color-gray2;

                    }

                    h5, p {
                        font-size: 1.8rem;
                    }

                    h5 {
                        margin: 0.5rem 0;
                        
                        font-weight: 700;
                    }
                }

                .icons {
                    text-align: right;
                    overflow: hidden;
                    padding-right: 0 !important;

                    img {
                        height: 3rem; 
                    }
                }

                .icon-pencil {
                    background-color: $color-light-blue;
                    color: $color-white;
                    padding: 4px;
                    margin-right: .5rem;
                    font-size: 1.2rem;
                    border-radius: 50%;
                }

                &--actions {
                    margin-left: 0.7rem;
                    position: relative;

                    a {
                        color: $color-navy;
                        font-weight: 700;
                        text-decoration: none;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                @include clearfix();
            }

            
        }

        @include clearfix();

    }
}

.item-name > div {
    position: absolute;
    min-width: 18rem; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.sticky-outer-wrapper.active .sticky-inner-wrapper{
    border-bottom: 1px solid $color-gray2;
}

.show-more {
    text-align: center;
    margin-top: 5rem;
    cursor: pointer;

    span{
        font-size: 1.8rem;
    }
    

    &__icon{
        margin-top: 1rem;
        display: inline-block;
        border: 1px solid $color-navy;
        border-radius: 50%;
        padding: 0px 12px 7px 12px;

        i {
            padding: 4px;
            display: inline-block;
            border-color: $color-navy;
        }
    }
}

.home-offer-row {
    display: flex;
    justify-content: space-between;
    // align-items: stretch;
}

.home-offer:not(:first-child){
    margin-left: 1.5rem;
}

.home-offer {
    height: 25rem;
    margin-top: 1.5rem;
    width: 100%;
    background-size: cover; 
    background-position: center center;

    position: relative;

    &__details {
        position: absolute;
        width: 100%;
        bottom: 0;
        min-height: 3.7rem;
        
        background-color: rgba($color-navy, .8);

        padding: .8rem;
    }

    &__title{
        float: left;

        color: white;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;

    }
    &__price{
        clear: left;
        float: left;

        
    }

    &__cta {
        float: right; 
        button {

            background-color: $color-red;
            color: $color-white;
            padding: .5rem 2.9rem;
            margin-top: .8rem;

            font-size: 1.5rem;
            font-weight: 600;
        }
        button:hover, button:active{ 
            color: $color-white;
            background-color: rgba($color-red, 0.9);
        }
    }

    @include clearfix();
}

.price-from {
    color: $color-white;
    font-size: 1rem;
    line-height: 2.4rem;
    
    vertical-align: super;
    padding-right: .4rem;
}
.price-value {
    color: $color-light-blue-lighter;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 700;
}

.home-offer--wide {
    .home-offer__details {
        position: absolute;
        left: 0;
        width: calc( (100% - 3rem) /3 );
        height: 100%;
        padding: 2rem;


        .home-offer__title {
            margin-top: 1.5rem;
            font-size: 2.8rem;
            line-height: 3rem;

            
        }
        .home-offer__subtitle {
            font-weight: 400;
        }

        .home-offer__price {
            margin-top: 2rem;
        }
        .price-from {
            font-weight: 300;
            font-size: 1.8rem;
        }
        .price-value{
            font-size: 3.6rem;
        }

        .home-offer__cta {
            position: absolute; 
            bottom: 2rem;
        }
    }
}


$circle-size: 8rem;

.home-circles{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.home-circle {
    display: table-cell;
    width: $circle-size;
    height: $circle-size;

    text-align: center;
    vertical-align: middle;


    border: 1px solid rgba($color-gray2, 0.5);
    border-radius: 50%;
    padding: 1rem;

    font-size: 1.4rem;
    line-height: 1.4rem;

    cursor: pointer;

    &--active {
        background-color: $color-light-blue-lighter;
        font-weight: 700;
        position: relative;

        .triangle-down{
            position: absolute;
            bottom: -.8rem;
            left: 50%;
            transform: translateX(-50%);
            border-top-color: $color-light-blue-lighter;
        }
    }
}



.home-circle-container{
    display: inline-block;
    padding: 0;
    
    &:not(:first-child) {
        margin-left: 1.5rem;
    }
}

.home-icons {
    margin-top: 5rem;
    display: flex;
}

.home-icon {
    display: inline-block;
    padding: 0 .5rem;
    text-align: center;

    &__image {
        display: block;
    
        img {
            height: 100%;
            width: auto;
        }
    }
    &__title{
        font-weight: 700;
    }

}

.home-hero {
    height: 58rem;
    margin-top: -1.75rem;
    margin-bottom: 3rem;

    background-image: url('/images/temp/home-beach.jpg');
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;
    background-color: $color-light-gray;

    position: relative;
    text-align: center;

    &__form {
        position: absolute; 
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 100%;
            height: auto;
        }

        .huge {
            text-transform: uppercase;
            font-size: 6rem;
            display: block;
            font-weight: 800;
            margin-bottom: 6rem;
            // color: $color-light-blue;
            // text-shadow: 2px 2px 7px #333;
        }
    }
}

.stars {
    padding: 0 2rem;

    i {
        padding: 0 .2rem;
    }
}

.product-menu {
    background-color: $color-light-gray;
    text-align: center;
    margin: 1rem auto 4rem auto;

    ul {
        list-style: none;
        list-style-type: none;
        margin: 1rem auto;

        li {
            display: inline-block;
            padding: 0 1.5rem;
            line-height: 1.8rem;
            font-size: 1.8rem;
            font-weight: 600;
            cursor: pointer;

            &:not(:first-child) {
                border-left: 1px solid $color-navy;
            }
        }
    }
}

.gray-label {
    background-color: $color-light-gray;
    font-weight: 700;
    font-size: 1.4rem; 

    padding: .5rem 1.5rem;
    min-width: 14rem;
    text-align: center;
    
    display: inline-block;
    margin-right: 2rem;
}

.product__price{
    line-height: 3.6rem;
    position: relative;
    display: inline-block;


    .price-from {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.6rem;
        color: $color-navy;
    }
    .price-value {
        padding-left: 3.6rem;
        color: $color-navy;
        font-size: 3.6rem;

    }
    
}

.product-under-menu{

    .col-sm-4, .col-sm-8 {
        // border: 1px solid red;
    }
    border-bottom: 2px solid $color-light-gray;
}

.price-cta {
    display: inline-block;
    float: right;
    padding-left: 2rem;

    button {
        background-color: $color-red;
        color: $color-white;
        padding: .4rem 3rem;
    }
}

.gallery {

    &__main {
        overflow: hidden;
        position: relative; 
        height: 50rem;

        img {
            min-width: 100%;
            height: 50rem;
        }
        
    }

    &__overlay {
        position: absolute; 
        left: 0;

        background-repeat: no-repeat;

        &--rating {
            background-image: url('/images/temp/product-gallery-rating.png');
            width: 228px;
            height: 151px;
            top: 10rem;
        }

        &--facilities {
            background-image: url('/images/temp/product-gallery-facilities.png');
            width: 227px;
            height: 106px;
            top: 28rem;
        }
    }

    &__thumbs {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    &__thumb {
        max-width: 20rem;
        overflow: hidden;
        cursor: pointer;

        &:not(:first-child){
            margin-left: .5rem;
        }

        img {
            opacity: .8;
            height: 10rem;
            width: 15.4rem;
        
            &:hover {
                opacity: 1;
            }
        }

    }
}

.product-form-container, .xproduct-bar-chart-container {
    margin: .5rem auto;

    img {
        width: 100%;
        height: auto;
    }
}

.product-bar-chart-container {

    .product-bar-chart-header{
        background-color: $color-light-gray;
        padding-top: 1.5rem;
        font-size: 1.4rem;
        margin-bottom: 1px;

        p {
            line-height: 110%;
        }

        @include clearfix();
    }

    .product-bar-chart-only{
        background-color: $color-light-gray;
        height: 20rem;
        background-image: url('/images/temp/product-page-bar-chart-only.png');
        background-position: bottom center;
        background-size: 100%;
        background-repeat: no-repeat;

        cursor: pointer;
        width: auto;
        position: relative;

        .product-bar-chart-tooltip {
            position: absolute;
            height: 6rem;
            width: auto;

            top: 2rem;
            right: 1rem;
        }
    }
}

.pane-header {
    @include clearfix();
}
.pane-icon{
    width: 3rem;
    height: 3rem;
    background-size: contain;
    float: left;
    margin-right: 1.2rem;
    cursor: pointer;
}
.pane-title{
    float: left;
    margin-top: -.4rem;
    cursor: pointer;
}
.pane--open .pane-icon {
    
    background-image: url('/images/temp/pane-icon-x.png');
    background-repeat: no-repeat;
}

.pane--closed .pane-icon {
    background-image: url('/images/temp/pane-icon-plus.png');
    background-repeat: no-repeat;
}
.pane-header {
    font-size: 2.4rem;
    font-weight: 700;
    background-color: $color-light-gray;
    padding: 1.5rem 3rem;
    margin-top: 1rem;
}

.pane-text {



    margin-top: .2rem;
    padding: 1.5rem 3rem;
    background-color: $color-light-gray;

    h4 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    p{
        font-size: 1.8rem;
        line-height: 3rem;
        padding: 2rem 0;
    }

    hr {
        height: 0;
        border: 0;
        border-bottom: 1px solid $color-white;
    }

    img {
        width: 100%;
        height: auto;
    }

}

.pane--closed .pane-text {
    display: none;
}
.pane--open .pane-text {
    display: block;
}

.home-form {
    display: flex; 
    justify-content: space-between;
    height: 5rem;
    background-color: $color-white; 

    .pax-area, .date-area, .city-area{

        border-left: 1px solid $color-gray;
    }

    .calendar-icon {
        max-height: 100%;
    }

    .pax-area, .date-area, .city-area {
        display: inline-block;
        padding: 1rem 0 .3rem 0;


        label {
            // font-size: 14px !important;
            // font-weight: 400 !important;
            font-weight: 300;
            font-size: 10px !important;
            color: #888;
        }

        input { 
            padding: .4rem 1.5rem .5rem 1.5rem;
            width: 100%;
            outline: none;
            border: 0;
            color: $color-navy !important;
            font-size: 1.8rem;
        }
    }

    .date-area input {
        padding: .4rem 1.5rem .5rem .5rem;
        color: $color-navy;
    }

    .pax-area {
        width: 20rem;
        position: relative;
        // background-color: yellow;
    }

    .date-area {
        min-width: 18rem;
        padding-top: .5rem;
        text-align: left;
    }

    .city-area {
        // background-color: orange;
        min-width: 15rem;
    }

    .cta-area {
        background-color: $color-red;
        min-width: 12rem; 

        button {
            width: 12rem; 
            height: 100%;
            border: 0; 

            background-color: $color-red;
            color: $color-white;

            font-size: 2.2rem;
            font-weight: 300; 
            text-transform: uppercase;
        }
    }


}

.product-form-container{ 
    background-color: $color-gray;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;

    &> div {
        background-color: $color-white;
        padding: .5rem;
    }

    .destination-area{
        width: 14rem;
       
    }
    .dates-area {
        width: 28rem;
        padding-left: 1.5rem;
        padding-top: .8rem;

        &__datepicker, &__duration {
            float: left;
        }

        &__duration {
            padding-top: .2rem;
        }

        @include clearfix();
    }

    .hotel-switch-area {
        min-width: 18rem;
        padding: 0;
    }
    
    .pax-area {
        width: 10rem;
        position: relative;
    }

    .destination-area, .pax-area{
        padding-top: 1rem;
        padding-left: 1rem;

        input {
            width: 100%;
            border: 0;
            color: $color-navy;
            font-weight: 600;
            
        }
    }

    .cta-area {
        background-color: $color-red;
        button {
            width: 100%;
            height: 100%;
            border: 0;
            background-color: $color-red;
            color: $color-white;
            padding: .5rem 1.5rem;
        }
    }
}

.toggle-switch {
    height: 100%;
    display: flex;
    justify-content: stretch;
    background-color: $color-light-gray;

    &__option {
        display: inline-block;
        padding: 1rem;
        cursor: pointer;
        


        &--selected {
            background-color: $color-white;
        }
    }
}
.product-bar-chart-container .toggle-switch{
    background-color: $color-gray;
    
    &__option {
        font-size: 1.4rem;
        font-weight: 600;        
        padding: 0.4rem 1rem;
    
        &--selected{
            font-weight: 400;
        }
    }

    

}

.SingleDatePicker {
    padding-top: .6rem;
}

.SingleDatePickerInput_calendarIcon{
    padding: .3rem;
    color: $color-red;

    .DateInput_input {
        padding-left: 0;
    }
}

.DateRangePickerInput {
    margin-right: 1.5rem;

    .DateInput{
        max-width: 12rem; 
        width: 6.5rem;
    }
    .DateInput_input {
        font-size: 1.4rem;
        font-weight: 600;
        padding:0;
        text-align: center;
    }
    .DateInput_input__focused{

     border-bottom: 2px solid $color-light-blue;
    }
    
    .DateRangePickerInput_calendarIcon {
        margin: 0;
        padding: 0;
    }

    .calendar-icon {
        color: $color-red;
    }
}

.pax-drop{
    width: 25rem;
    position: absolute; 
    bottom: -28rem;

    left: 50%;
    transform: translateX(-50%);

    background-color: $color-white;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
    padding: 0;
    z-index: 115;

    &__row {
        padding: .8rem 1rem;
        margin:0;

        &:hover{
            background-color: $color-light-gray;
        }

        .pax-drop__close-btn button{
            background-color: $color-light-gray;
            border: 1px solid $color-light-gray;
            border-radius: 4px;
            font-size: 1.4rem;
            
            padding: .3rem .7rem;
        }

        @include clearfix();
    }

    &__label {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-navy;
        padding: 0;

        strong {
            font-weight: 700;
        }
    }

    &__counter {

    }

    .triangle-up {
        border-bottom-color: $color-white;
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.pax-area .incrementer {
    &__control {

        button {
            line-height: 1.6rem;
            font-size: 1.6rem;
            width: 1.5rem;
            border-radius: 2px;
            outline: none;
        }

    }
    &__value {
        
        input {
            font-size: 1.4rem;
            line-height: 1.4rem;
            padding: 0;
            width: 3rem;
            border: 1px solid $color-gray2;
        }
    }

}


.activity-sticky {
    background-color: $color-navy;

    .summary-cta{
        padding: 1.5rem 0;

        .summary-info {
            color: $color-white;
        }
    }

}
.activity-sticky-footer-disabled {
    display: none;
}
